{% assign lang = site.locale | slice: 0,2 | default: "en" %}
{% case lang %}
{% when "gr" %}
  {% assign lang = "gr" %}
{% else %}
  {% assign lang = "en" %}
{% endcase %}
<!-- if page.lang -->
{% if page.lang %}
  {% assign lang = page.lang %}
{% endif %}

<script src="{{ '/assets/js/lunr/lunr.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lunr/lunr-store.js' | relative_url }}"></script>
<script src="{{ '/assets/js/lunr/lunr-' | append: lang | append: '.js' | relative_url }}"></script>