---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}
  <article class="page h-entry">
    <div class="page__inner-wrap">
      <section class="page__content e-content" itemprop="text">
    <p>Bienvenue sur ce site dédié à la géomatique en Python !</p>

<p>Si vous êtes un développeur Python intéressé par la géomatique, ce site est fait pour vous. Une variété de ressources et d'outils sont disponibles pour vous aider à mieux comprendre et appliquer les concepts de la géomatique dans votre travail en Python.</p>

<p>Le site comprend des tutoriels et des exemples de code Python pour la manipulation de données géospatiales, la visualisation de cartes, l'analyse de données géospatiales, et bien plus encore. Vous pouvez également trouver des liens vers des bibliothèques Python populaires pour la géomatique telles que Geopandas, Shapely et Fiona.</p>

<p>Nous espérons que vous apprécierez notre site et que vous le trouverez utile dans vos projets de géomatique en Python. N'hésitez pas à nous contacter si vous avez des commentaires ou des suggestions pour améliorer notre site.</p>
      </section>
</div>
</article>
</div>